einops
gymnasium==0.29.0
minigrid==2.1.0
memory-gym
dm-env==1.5
pycolab==1.2
docopt
jinja2
matplotlib
opencv-python
optuna
pygame
pyglet
reprint
ruamel.yaml
scipy
tensorboard
tblib
pyboy
mediapy
scikit-image
hnswlib