# https://github.com/openai/gym

environment:
  type: "CartPole"
  name: "CartPole-v0"
  frame_skip: 1
  last_action_to_obs: False
  last_reward_to_obs: False
  obs_stacks: 1
  reset_params:
    # Whether to mask the velocity of the cart and the tip of the pole
    mask-velocity: True

model:
  load_model: False
  model_path: "./models/cartpole_recurrent.pt"
  checkpoint_interval: 25
  activation: "relu"
  recurrence:
    layer_type: "gru"
    sequence_length: 8
    hidden_state_size: 128
    hidden_state_init: "zero"
    fake_recurrence: False

evaluation:
  evaluate: False
  n_workers: 3
  seeds: [1001, 1002, 1003, 1004, 1005]
  interval: 50

trainer:
  algorithm: "PPO"
  gamma: 0.99
  lamda: 0.95
  updates: 50
  epochs: 4
  n_workers: 16
  worker_steps: 512
  n_mini_batch: 8
  resume_at: 0
  learning_rate_schedule:
    initial: 1.0e-4
    final: 1.0e-5
    power: 1.0
    max_decay_steps: 50
  beta_schedule:
    initial: 0.0001
    final: 0.00001
    power: 1.0
    max_decay_steps: 50
  clip_range_schedule:
    initial: 0.2
    final: 0.2
    power: 1.0
    max_decay_steps: 50