environment:
  type: "Unity"
  name: "./UnityBuilds/Hallway/UnityEnvironment"
  frame_skip: 1
  last_action_to_obs: False
  last_reward_to_obs: False
  obs_stacks: 1
  grayscale: False
  resize_vis_obs: [84, 84]
  reset_params:
    start-seed: 0
    num-seeds: 100

model:
  load_model: False
  model_path: "./checkpoints/hallway/20201016-160738_2/hallway-951.pt"
  checkpoint_interval: 50
  activation: "leaky_relu"
  share_parameters: True
  pi_estimate_advantages: False
  encoder: "cnn"
  hidden_layer: "default"
  num_hidden_layers: 1
  num_hidden_units: 512
  recurrence:
    layer_type: "lstm"
    sequence_length: 16
    hidden_state_size: 256
    hidden_state_init: "zero"
    reset_hidden_state: True

evaluation:
  evaluate: False
  n_workers: 3
  seeds: [1001, 1002, 1003, 1004, 1005]
  interval: 10

trainer:
  algorithm: "PPO"
  gamma: 0.99
  lamda: 0.95
  updates: 2000
  epochs: 3
  n_workers: 16
  worker_steps: 512
  n_mini_batch: 8
  value_coefficient: 0.25
  resume_at: 0
  learning_rate_schedule:
    initial: 3.0e-4
    final: 3.0e-6
    power: 1.0
    max_decay_steps: 2000
  beta_schedule:
    initial: 0.01
    final: 0.01
    power: 1.0
    max_decay_steps: 2000
  clip_range_schedule:
    initial: 0.2
    final: 0.01
    power: 1.0
    max_decay_steps: 2000