# https://github.com/maximecb/gym-minigrid

environment:
  type: "RandomMaze"
  frame_skip: 1
  last_action_to_obs: False
  last_reward_to_obs: False
  obs_stacks: 1
  grayscale: False
  resize_vis_obs: [9, 9]
  reset_params:
    start-seed: 0
    num-seeds: 100000

model:
  load_model: False
  model_path: ""
  checkpoint_interval: 50
  activation: "relu"
  vis_encoder: "smallimpala"
  vec_encoder_layer: "linear"
  num_vec_encoder_units: 128
  hidden_layer: "default"
  num_hidden_layers: 1
  num_hidden_units: 256
  recurrence:
    layer_type: "lstm"
    sequence_length: -1
    hidden_state_size: 256
    hidden_state_init: "zero"
    reset_hidden_state: True
    residual: False

evaluation:
  evaluate: False
  n_workers: 3
  seeds:
    start-seed: 100000
    num-seeds: 10
  interval: 100

sampler:
  type: "TrajectorySampler"
  n_workers: 16
  worker_steps: 512

trainer:
  algorithm: "PPO"
  resume_at: 0
  gamma: 0.99
  lamda: 0.95
  updates: 250
  epochs: 4
  refresh_buffer_epoch: -1
  n_mini_batches: 8
  value_coefficient: 0.25
  max_grad_norm: 0.5
  share_parameters: True
  learning_rate_schedule:
    initial: 2.5e-4
    final: 2.5e-4
    power: 1.0
    max_decay_steps: 250
  beta_schedule:
    initial: 0.01
    final: 0.0001
    power: 1.0
    max_decay_steps: 250
  clip_range_schedule:
    initial: 0.2
    final: 0.2
    power: 1.0
    max_decay_steps: 250