# https://github.com/maximecb/gym-minigrid

environment:
  type: "Minigrid"
  name: "MiniGrid-MemoryS7-v0"
  frame_skip: 1
  last_action_to_obs: False
  last_reward_to_obs: False
  obs_stacks: 1
  grayscale: False
  resize_vis_obs: [84, 84]
  reset_params:
    start-seed: 0
    num-seeds: 100

model:
  load_model: False
  model_path: "./models/minigrid4-600.pt"
  checkpoint_interval: 100
  activation: "leaky_relu"
  recurrence:
    layer_type: "lstm"
    sequence_length: 8
    hidden_state_size: 256
    hidden_state_init: "zero"
    fake_recurrence: False

evaluation:
  evaluate: False
  n_workers: 3
  seeds: [1001, 1002, 1003, 1004, 1005]
  interval: 10

trainer:
  algorithm: "PPO"
  gamma: 0.99
  lamda: 0.95
  updates: 1000
  epochs: 4
  n_workers: 16
  worker_steps: 256
  n_mini_batch: 8
  resume_at: 0
  learning_rate_schedule:
    initial: 3.0e-4
    final: 3.0e-5
    power: 1.0
    max_decay_steps: 1000
  beta_schedule:
    initial: 0.01
    final: 0.001
    power: 1.0
    max_decay_steps: 1000
  clip_range_schedule:
    initial: 0.2
    final: 0.2
    power: 1.0
    max_decay_steps: 1000