environment:
  type: "MemoryGym"
  name: "MysteryPath-v0"
  frame_skip: 1
  last_action_to_obs: True
  last_reward_to_obs: True
  obs_stacks: 1
  grayscale: False
  resize_vis_obs: [84, 84]
  reset_params:
    start-seed: 0
    num-seeds: 100
    agent_scale: 0.25
    agent_speed: 2.5
    cardinal_origin_choice: [0, 1, 2, 3]
    show_origin: True
    show_goal: True
    reward_goal: 1.0
    reward_fall_off: 0.0
    reward_path_progress: 0.0

model:
  load_model: False
  model_path: ""
  checkpoint_interval: 200
  activation: "relu"
  vis_encoder: "cnn"
  vec_encoder: "linear"
  num_vec_encoder_units: 128
  hidden_layer: "default"
  num_hidden_layers: 1
  num_hidden_units: 512
  recurrence:
    layer_type: "gru"
    num_layers: 1
    sequence_length: 128
    hidden_state_size: 512
    hidden_state_init: "zero"
    reset_hidden_state: True
    residual: False

evaluation:
  evaluate: False
  n_workers: 3
  seeds:
    start-seed: 100000
    num-seeds: 10
  interval: 200

sampler:
  n_workers: 16
  worker_steps: 512

trainer:
  algorithm: "PPO"
  resume_at: 0
  gamma: 0.99
  lamda: 0.95
  updates: 10000
  epochs: 3
  n_mini_batches: 8
  value_coefficient: 0.25
  max_grad_norm: 0.5
  learning_rate_schedule:
    initial: 2.5e-4
    final: 2.5e-4
    power: 1.0
    max_decay_steps: 10000
  beta_schedule:
    initial: 0.0001
    final: 0.00001
    power: 1.0
    max_decay_steps: 10000
  clip_range_schedule:
    initial: 0.2
    final: 0.2
    power: 1.0
    max_decay_steps: 10000