# Environment: https://github.com/Unity-Technologies/obstacle-tower-env
# Source: https://github.com/Unity-Technologies/obstacle-tower-source

# In comparison to the original environment, this environment comes with a restricted set of actions.

environment:
  type: "ObstacleTower"
  name: "./UnityBuilds/ObstacleTower/ObstacleTower"
  frame_skip: 2
  obs_stacks: 1
  grayscale: False
  resize_vis_obs: [84, 84]
  reset_params:
    start-seed: 0
    num-seeds: 100
    # Whether to use visual observations only
    # The remaining time and the number of held keys is added to the visual observation
    retro-vis-obs: False
    # Whether to flatten to the multi-discrete action space to one dimension
    flat-action-space: False
    # Obstacle Tower specific reset parameters:
    # https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/reset-parameters.md
    tower-seed: -1
    starting-floor: 0
    dense-reward: 1
    lighting-type: 1
    visual-theme: 2
    agent-perspective: 1
    allowed-rooms: 2
    allowed-modules: 2
    allowed-floors: 2
    total-floors: 10
    default-theme: 0

model:
  load_model: False
  model_path: "./otc-49998.pt"
  checkpoint_interval: 200
  use_recurrent: True
  hidden_state_size: 512

evaluation:
  evaluate: False
  n_workers: 3
  seeds: [1001, 1002, 1003, 1004, 1005]
  interval: 200

trainer:
  algorithm: "PPO"
  gamma: 0.99
  lamda: 0.95
  updates: 50000
  epochs: 4
  n_workers: 4
  worker_steps: 512
  n_mini_batch: 4
  resume_at: 0
  learning_rate_schedule:
    initial: 3.0e-5
    final: 5.0e-6
    power: 1.0
    max_decay_steps: 50000
  beta_schedule:
    initial: 0.01
    final: 0.0001
    power: 1.0
    max_decay_steps: 50000
  clip_range_schedule:
    initial: 0.2
    final: 0.2
    power: 1.0
    max_decay_steps: 50000
