# https://github.com/openai/gym

environment:
  type: "POPGym"
  name: "popgym-StatelessCartPoleEasy-v0"
  frame_skip: 1
  last_action_to_obs: False
  last_reward_to_obs: False
  obs_normalization: True
  obs_stacks: 1
  reset_params:
    start-seed: 0
    num-seeds: 100
    # Whether to mask the velocity of the cart and the tip of the pole
    mask-velocity: True

model:
  load_model: False
  model_path: "./checkpoints/cartpole/20210722-103713_2/cartpole-199.pt"
  checkpoint_interval: 25
  activation: "relu"
  vis_encoder: "cnn"
  vec_encoder: "linear"
  num_vec_encoder_units: 128
  hidden_layer: "default"
  num_hidden_layers: 1
  num_hidden_units: 512
  recurrence:
    layer_type: "gru"
    num_layers: 1
    sequence_length: 16
    hidden_state_size: 128
    hidden_state_init: "zero"
    reset_hidden_state: False
    residual: False

evaluation:
  evaluate: False
  n_workers: 3
  seeds:
    start-seed: 100000
    num-seeds: 10
  interval: 50

sampler:
  n_workers: 16
  worker_steps: 256

trainer:
  algorithm: "PPO"
  resume_at: 0
  gamma: 0.99
  lamda: 0.95
  updates: 200
  epochs: 4
  refresh_buffer_epoch: -1
  n_mini_batches: 4
  value_coefficient: 0.25
  max_grad_norm: 0.5
  share_parameters: True
  learning_rate_schedule:
    initial: 1.0e-4
    final: 1.0e-4
    power: 1.0
    max_decay_steps: 50
  beta_schedule:
    initial: 0.00001
    final: 0.000001
    power: 1.0
    max_decay_steps: 50
  clip_range_schedule:
    initial: 0.2
    final: 0.2
    power: 1.0
    max_decay_steps: 50