# https://github.com/openai/procgen

environment:
  type: "Procgen"
  name: "procgen:procgen-miner-v0"
  frame_skip: 1
  last_action_to_obs: False
  last_reward_to_obs: False
  obs_stacks: 3
  grayscale: False
  resize_vis_obs: [64, 64]
  reset_params:
    start-seed: 0
    num-seeds: 200
    # Maximum number of steps that an episode can last
    max-episode-steps: 512
    # More detailed information about reset parameters: https://github.com/openai/procgen#environment-options
    # Paint player velocity info in the top left corner. Only supported by certain games.
    paint_vel_info: False
    # Use randomly generated assets in place of human designed assets.
    use_generated_assets: False
    # Determines whether observations are centered on the agent or display the full level. Override at your own risk.
    center_agent: True
    # When you reach the end of a level, the episode is ended and a new level is selected.
    use_sequential_levels: False
    # What variant of the levels to use, the options are "easy", "hard", "extreme", "memory", "exploration".
    distribution_mode: "memory"
    # Normally games use human designed backgrounds, if this flag is set to False, games will use pure black backgrounds.
    use_backgrounds: True
    # Some games select assets from multiple themes, if this flag is set to True, those games will only use a single theme.
    restrict_themes: False
    # If set to True, games will use monochromatic rectangles instead of human designed assets.
    use_monochrome_assets: False

model:
  load_model: False
  model_path: "./models/procgen_coinrun.pt"
  checkpoint_interval: 200
  activation: "relu"
  hidden_layer: "default"
  num_hidden_layers: 1
  num_hidden_units: 512
  modalities:
    vis_obs:
      type: "atari_cnn"
      dtype: "float32"

evaluation:
  evaluate: False
  n_workers: 3
  seeds:
    start-seed: 100000
    num-seeds: 10
  interval: 50

sampler:
  n_workers: 16
  worker_steps: 256

trainer:
  algorithm: "PPO"
  resume_at: 0
  gamma: 0.99
  lamda: 0.95
  updates: 1000
  epochs: 4
  n_mini_batches: 4
  value_coefficient: 0.25
  max_grad_norm: 0.5
  learning_rate_schedule:
    initial: 3.0e-4
    final: 3.0e-7
    power: 1.0
    max_decay_steps: 1000
  beta_schedule:
    initial: 0.001
    final: 0.0001
    power: 1.0
    max_decay_steps: 1000
  clip_range_schedule:
    initial: 0.2
    final: 0.001
    power: 1.0
    max_decay_steps: 1000