# https://github.com/openai/procgen

environment:
  type: "Procgen"
  name: "procgen:procgen-coinrun-v0"
  frame_skip: 1
  last_action_to_obs: True
  last_reward_to_obs: True
  obs_stacks: 3
  grayscale: False
  resize_vis_obs: [64, 64]
  reset_params:
    start-seed: 0
    num-seeds: 100
  use_seeder: False

model:
  load_model: False
  model_path: "./models/procgen_coinrun.pt"
  checkpoint_interval: 50
  use_recurrent: False
  hidden_state_size: 512

evaluation:
  evaluate: True
  n_workers: 3
  seeds: [1001, 1002, 1003, 1004, 1005]
  interval: 50

trainer:
  algorithm: "PPO"
  gamma: 0.99
  lamda: 0.95
  updates: 500
  epochs: 4
  n_workers: 16
  worker_steps: 256
  n_mini_batch: 4
  resume_at: 0
  learning_rate_schedule:
    initial: 1.0e-4
    final: 1.0e-7
    power: 1.0
    max_decay_steps: 500
  beta_schedule:
    initial: 0.001
    final: 0.0001
    power: 1.0
    max_decay_steps: 500
  clip_range_schedule:
    initial: 0.2
    final: 0.001
    power: 1.0
    max_decay_steps: 500